{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        {% block header %}{% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
{% endblock %}

